{% extends "layout.html" %}

{% block head %}
{{ super() }}
  <style>
    .windowed {
      margin-top:10px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: auto;
    }
    .radio {
      margin-bottom: 30px;
    }
    </style>
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" id="main">
      <div class="col-md-4 windowed">
        <h3>Select x-variable</h3>
        <table id ="fields-table" class="table table-hover table-bordered table-condensed">
          <thead><tr style="text-align:center"><th>Name</th><th>Unit</th><th>Description</th></thead>
          <tbody>
            {% for f in fields %}
            <tr class="field-row-x" id="{{ f.id }}">
              <td>{{ f.id }}</td>
              <td>{{ f.unit }}</td>
              <td>{{ f.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-4 windowed">
        <h3>Select y-variable</h3>
        <table id ="fields-table" class="table table-hover table-bordered table-condensed">
          <thead><tr style="text-align:center"><th>Name</th><th>Unit</th><th>Description</th></thead>
          <tbody>
            {% for f in fields %}
            <tr class="field-row-y" id="{{ f.id }}">
              <td>{{ f.id }}</td>
              <td>{{ f.unit }}</td>
              <td>{{ f.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-4" style="padding: 40px;">
        <div style="padding-top:10px; margin-left: 80px;">
          <button class="btn btn-primary btn-lg" id="btn-plot" type="button">Plot</button>
        </div>
      </div>
    </div>

    <div class='loading'></div>

  </div>

  <script>

    $(document).ready(function(){

      $('li.active').removeClass('active');
      $('li#heatmap').addClass('active');     

      window.xvar = '';
      window.yvar = '';

      $(".windowed").height($(window).height() - $('.navbar').height() - 10);

      $(".field-row-y").click(function(){
        var id = $(this).attr('id');
        if (id != yvar){
          $('.field-row-y.success').removeClass('success');
          $(this).addClass('success');
          yvar = id;
        }
      });
      $(".field-row-x").click(function(){
        var id = $(this).attr('id');
        if (id != xvar){
          $('.field-row-x.success').removeClass('success');
          $(this).addClass('success');
          xvar = id;
        }
      });

      $('#btn-plot').click(function(){
        $("#main").hide();
        $(".loading").show();
        renderHeatmap(xvar, yvar);
      });

      function renderHeatmap(xvar, yvar){
        var queryStr = xvar + "," + yvar;
        var url = '/api/query?fields=' + queryStr;
        $.ajax({
          url: url,
          type: "get",
          success: function(res){
            $('.loading').hide();
            var data = $.parseJSON(res);
            heatmap(data, 20, 20)
          }        
        });
      }

      function hist2d(data, xbins, ybins){
        // figure out the bins
        var xextent = d3.extent(data, function(d){ return d[xvar] });
        var yextent = d3.extent(data, function(d){ return d[yvar] });
        var xrange = xextent[1] - xextent[0] 
        var yrange = yextent[1] - yextent[0] 
        var xstep = xrange/xbins;
        var ystep = yrange/ybins;
        var xbinL, ybinL;

        xbin0 = Math.floor(xextent[0])
        ybin0 = Math.floor(yextent[0])

        var histdata = []
        var r;
        var xbinL = xbin0;
        for (var i = 0; i < xbins; i++){
          var ybinL = ybin0;
          for (var j = 0; j < ybins; j++){
            r = {'xbin': xbinL, 'ybin': ybinL, 'count': 0}; 
            histdata.push(r);
            ybinL += ystep;
          }
          xbinL += xstep;
        } 
                
        _.each(histdata, function(hd){
          _.each(data, function(d){
            var x = d[xvar];
            var y = d[yvar];
            if (x >= hd.xbin && x < (hd.xbin + xstep) && y >= hd.ybin && y < (hd.ybin + ystep)){
              hd.count += 1;
            }
          });
        });

        return [histdata, xstep, ystep];
      }

      function heatmap(data, xbins, ybins){
        // data is json with two properties (x, y)
        // histdata is json with three properties (xbin L-endpoint, ybin L-endpoint, count)
        var rv = hist2d(data, xbins, ybins);
        var histdata = rv[0];
        var xStep = rv[1];
        var yStep = rv[2];

        var margin = {top: 20, right: 90, bottom: 30, left: 50},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var x = d3.scale.linear().range([0, width]),
            y = d3.scale.linear().range([height, 0]),
            z = d3.scale.linear().range(["white", "steelblue"]);
   
        var xRange = d3.extent(histdata, function(d){ return d.xbin; });
        var yRange = d3.extent(histdata, function(d){ return d.ybin; });

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        // Compute the scale domains.
        x.domain(xRange);
        y.domain(yRange);
        z.domain([0, d3.max(histdata, function(d) { return d.count; })]);

        // Extend the x- and y-domain to fit the last bin.
        // For example, the y-bin 3200 corresponds to values [3200, 3300].
        x.domain([x.domain()[0], +x.domain()[1] + xStep]);
        y.domain([y.domain()[0], y.domain()[1] + yStep]);

        // Display the tiles for each non-zero bin.
        svg.selectAll(".tile")
            .data(histdata)
          .enter().append("rect")
            .attr("class", "tile")
            .attr("x", function(d) { return x(d.xbin); })
            .attr("y", function(d) { return y(d.ybin + yStep); })
            .attr("width", x(xStep) - x(0))
            .attr("height",  y(0) - y(yStep))
            .style("fill", function(d) { return z(d.count); });

        // Add a legend for the color values.
        var legend = svg.selectAll(".legend")
            .data(z.ticks(6).slice(1).reverse())
          .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(" + (width + 20) + "," + (20 + i * 20) + ")"; });

        legend.append("rect")
            .attr("width", 20)
            .attr("height", 20)
            .style("fill", z);

        legend.append("text")
            .attr("x", 26)
            .attr("y", 10)
            .attr("dy", ".35em")
            .text(String);

        svg.append("text")
            .attr("class", "label")
            .attr("x", width + 20)
            .attr("y", 10)
            .attr("dy", ".35em")
            .text("Count");

        // Add an x-axis with label.
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.svg.axis().scale(x).orient("bottom"))
          .append("text")
            .attr("class", "label")
            .attr("x", width)
            .attr("y", -6)
            .attr("text-anchor", "end")
            .text(xvar);

        // Add a y-axis with label.
        svg.append("g")
            .attr("class", "y axis")
            .call(d3.svg.axis().scale(y).orient("left"))
          .append("text")
            .attr("class", "label")
            .attr("y", 6)
            .attr("dy", ".71em")
            .attr("text-anchor", "end")
            .attr("transform", "rotate(-90)")
            .text(yvar);
      }
    });

  </script>

{% endblock %}
