<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Database II Explorer</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../static/js/bootstrap.touchspin.js"></script>

  {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Database II Explorer</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#data">Data</a></li>
            <li><a href="#buildings">Buildings</a></li>
            <li><a href="#analytics">Analytics</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/js/underscore-min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
