{% extends "layout.html" %}

{% block head %}
{{ super() }}
  <style>
    .windowed {
      margin-top:10px;
      padding-left: 10px;
      padding-right: 10px;
      overflow: auto;
    }
    .radio {
      margin-bottom: 30px;
    }
    </style>
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" id="main">
      <div class="col-md-6 windowed">
        <table id ="fields-table" class="table table-hover table-bordered table-condensed">
          <thead><tr style="text-align:center"><th>Name</th><th>Unit</th><th>Description</th></thead>
          <tbody>
            {% for f in fields %}
            <tr class="field-row" id="{{ f.id }}">
              <td>{{ f.id }}</td>
              <td>{{ f.unit }}</td>
              <td>{{ f.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-6" style="padding: 90px;">
        <h3>Category Definition</h3><br>
        <div class="radio">
          <label>
            <input type="radio" name="optionCategory" id="optionRaw" value="raw" checked>Use raw data
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionCategory" id="optionRound" value="round">
              <div style="float: left; margin-right: 5px;">Round data to </div>
              <div class="spinner" style="width: 90px; float: left; margin-right: 5px; margin-top:-5px;">
                <input class="input-sm spinner" id="nround" type="text" value="" name="nround">
              </div>
              <div style="float: left">digits</div>
          </label>
        </div>
        <div class="radio" style="margin-bottom: 20px; clear: both;">
          <label>
            <input type="radio" name="optionCategory" id="optionBin" value="bin">
              <div style="float: left; margin-right: 5px;">Bin data into </div> 
              <div class="spinner" style="width: 90px; float: left; margin-right: 5px; margin-top:-5px;">
                <input class="input-sm" id="nbins" type="text" value="" name="nbins">
              </div>
              <div style="float: left">bins</div>
          </label>
        </div>
        <div style="padding-top:10px; margin-left: 80px;">
          <button class="btn btn-primary btn-lg" id="btn-plot" type="button">Plot</button>
        </div>
      </div>
    </div>

    <div class='loading'></div>

  </div>

  <script>

    $(document).ready(function(){
      
      $('li.active').removeClass('active');
      $('li#scatter').addClass('active');     

      window.vfields = [];    
      window.category = '';

      $(".windowed").height($(window).height() - $('.navbar').height() - 10);

      $("input[name='nround']").TouchSpin({
        initval: 1,
        min: -2,
        max: 2
      });

      $("input[name='nbins']").TouchSpin({
        initval: 4,
        min: 1,
        max: 10
      });

      $(".field-row").click(function(){
        var id = $(this).attr("id");
        var ind = vfields.indexOf(id);
        if (ind == -1){
          vfields.push(id);
          $(this).addClass('success');
        } else if ($(this).hasClass('success')){
          // category
          $(this).removeClass('success');
          $('.warning').addClass('success');
          $('.warning').removeClass('warning');
          $(this).addClass('warning');
          category = id;
        } else {
          // remove
          vfields.splice(ind, 1);
          $(this).removeClass('warning');
          category = '';
        }
      });

      $('#btn-plot').click(function(){
        $("#main").hide();
        $(".loading").show();
        renderScatterMx(vfields);
      });

      function renderScatterMx(fields){
        var queryStr = fields.join(",");     
        var url = '/api/query?fields=' + queryStr;
        $.ajax({
          url: url,
          type: "get",
          success: function(res){
            $('.loading').hide();
            var d = $.parseJSON(res);
            d = processCategory(d);
            scatterMx(d, category);
          }        
        });
      }
  
      function processCategory(d){
        var method = $('input[name="optionCategory"]:checked').val();
        if (method == "round"){
          var dec = parseFloat($('#nround').val())
          return _.map(d, function(r){
            r[category] = Math.round(r[category] * Math.pow(10, dec)) / Math.pow(10, dec);
            return r;
          }); 
        } else if (method == "bin"){
          var nbins = parseFloat($('#nbins').val())
          var ext = d3.extent(d, function(r){
            return r[category];
          });
          var range = ext[1] - ext[0];
          var assignBin = function(v){
            for (var i = 0; i < nbins; i++){
              var val = v[category];
              if (val <= i*(range/nbins)) return i;
            }
          }
          return _.map(d, function(r){
            r[category] = assignBin(r)
            return r 
          });
        } else {
          return d;
        }
      }

      var scatterMx = function(data, category) {
        var domainByTrait = {},
            traits = d3.keys(data[0]).filter(function(d) { return d !== category; }),
            n = traits.length;

        traits.forEach(function(trait) {
          domainByTrait[trait] = d3.extent(data, function(d) { return d[trait]; });
        });

        var color = d3.scale.category10();

        var width = $('.container').width(),
            size = width / n,
            padding = 19.5;

        var x = d3.scale.linear()
            .range([padding / 2, size - padding / 2]);

        var y = d3.scale.linear()
            .range([size - padding / 2, padding / 2]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .ticks(5);

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(5);

        xAxis.tickSize(size * n);
        yAxis.tickSize(-size * n);

        var svg = d3.select("body").append("svg")
            .attr("width", size * n + padding)
            .attr("height", size * n + padding)
            .style({'display': 'block', 'margin': 'auto'})
          .append("g")
            .attr("transform", "translate(" + padding + "," + padding / 2 + ")");

        svg.selectAll(".x.axis")
            .data(traits)
          .enter().append("g")
            .attr("class", "x axis")
            .attr("transform", function(d, i) { return "translate(" + (n - i - 1) * size + ",0)"; })
            .each(function(d) { x.domain(domainByTrait[d]); d3.select(this).call(xAxis); });

        svg.selectAll(".y.axis")
            .data(traits)
          .enter().append("g")
            .attr("class", "y axis")
            .attr("transform", function(d, i) { return "translate(0," + i * size + ")"; })
            .each(function(d) { y.domain(domainByTrait[d]); d3.select(this).call(yAxis); });

        var cell = svg.selectAll(".cell")
            .data(cross(traits, traits))
          .enter().append("g")
            .attr("class", "cell")
            .attr("transform", function(d) { return "translate(" + (n - d.i - 1) * size + "," + d.j * size + ")"; })
            .each(plot);

        cell.filter(function(d) { return d.i === d.j; }).append("text")
            .attr("x", padding)
            .attr("y", padding)
            .attr("dy", ".71em")
            .text(function(d) { return d.x; });

        function plot(p) {
          var cell = d3.select(this);

          x.domain(domainByTrait[p.x]);
          y.domain(domainByTrait[p.y]);

          cell.append("rect")
              .attr("class", "frame")
              .attr("x", padding / 2)
              .attr("y", padding / 2)
              .attr("width", size - padding)
              .attr("height", size - padding);

          cell.selectAll("circle")
              .data(data)
            .enter().append("circle")
              .attr("cx", function(d) { return x(d[p.x]); })
              .attr("cy", function(d) { return y(d[p.y]); })
              .attr("r", 3)
              .style("fill", function(d) { return color(d[category]); });
        }

        function cross(a, b) {
          var c = [], n = a.length, m = b.length, i, j;
          for (i = -1; ++i < n;) for (j = -1; ++j < m;) c.push({x: a[i], i: i, y: b[j], j: j});
          return c;
        }
      };

    });

  </script>

{% endblock %}
